$color-gray50: #f8fafc;
$color-gray100: #f3f4f6;
$color-gray200: #e5e7eb;
$color-gray300: #d1d5db;
$color-gray400: #9ca3af;
$color-gray500: #6b7280;
$color-gray600: #4b5563;
$color-gray700: #374151;
$color-gray800: #1f2937;
$color-gray900: #111827;
$color-gray950: #030712;


$font-family: 'IBM Plex Sans', sans-serif;
$font-headers: 'IBM Plex Mono', monospace;