@import './base.css';

.form{
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
  max-width: 500px;
  padding: 1em;
}

.signup__title, .login__title{
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;
  margin-top: 2em;
}

button{
  padding: 1em;
  border: 3px solid #33332d;
  color: #33332d;
  font-weight: 600;
  font-size: 18px;
  box-shadow: -3px 5px #33332d;
  transition: all .7s ease;
}

button:hover{
  background-color: #33332d;
  color: #fff;
}

.input_container {
  padding: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input{
  width: 100%;
  height: 40px;
  border: 2px solid #33332d;
  box-shadow: -3px 5px #33332d;
  padding: 0.5em;
  font-weight: 18px;
  font-size: 18px;
}

.container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}